* {
    background-color: rgb(255, 235, 210);
}

#elemento-1, #primer-elemento {
    color: red;
}

#elemento-1 {
    font-size: 2rem;
}

#TITULO {
    font-size: 3rem;
    color: rgb(100, 97, 97);
}

.encabezado {
    font-size: 2.5rem;
    color: rgb(100, 97, 97);
    margin-bottom: 0;
}